
.login-container {
    background-color: white;
    padding: 20px;
    width: 350px;
    margin: 100px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
}


.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; 
}


.login-container input {
    width: 100%;
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 10px;
    border: 2px solid gray;
    box-sizing: border-box; 
}


.btn-entrar {
    width: 100%; 
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    background-color: #e0c65b;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.btn-entrar:hover {
    background-color: #18d5128e;
}

.btn-fechar {
    padding: 8px 16px;
    background-color: #e0c65b;
    border-radius: 10px;
    border-color: none;
    border: none;
    color: rgb(0, 0, 0);
    margin-top: 10px
  }
  
  .btn-fechar:hover {
    background-color: #cc0000ce;
    border-radius: 8px;
  }

/* --- REGRAS PARA O ÍCONE DE SENHA --- */


.password-input-container {
    position: relative; 
    margin-bottom: 15px; 
    width: 100%; 
}


.password-input-container input {
   
    padding-right: 40px; 
    margin-bottom: 0; 
}


.password-toggle-icon {
    position: absolute; 
    top: 50%;
    right: 15px; 
    transform: translateY(-50%); 
    cursor: pointer; 
    color: #888; 
    font-size: 1.1em;
}


.recuperar-senha {
    text-align: center;
    margin: 15px 0 0; 
}

.link-ajuda {
    font-size: 14px;
    color: #b79820;
    text-decoration: none; 
    cursor: pointer;
}

.link-ajuda:hover {
    color: #ae0d0d;
    text-decoration: underline; 
}