.container-modal-procidadania {
  padding: 20px;
  font-family: Arial, sans-serif;
  background: rgb(20, 19, 19);
  width: 17%;
  margin-left: 0;
  margin-top: 10px;
  border-radius: 12px;
  box-shadow: 0 0 20px #000;
}

.container-modal-procidadania h2 {
  color: #b89720;
  font-size: 20px;
}

.lista {
  list-style: none;
  padding: 0;
}

.lista li {
  margin: 10px 0;
  cursor: pointer;
  color: #ff0000;
  font-size: 16px;
}

/* FUNDO ESCURO DO MODAL */
.modal-procidadania {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;

  padding: 20px;
  box-sizing: border-box;
}

/* CAIXA DO MODAL */
.modal-content-procidadania {
  background: white;
  padding: 30px;
  border-radius: 8px;
  position: relative;

  width: 100%;
  max-width: 1100px;

  max-height: 90vh;
  overflow-y: auto;
}

/* BOTÃO FECHAR */
.close {
  position: absolute;
  top: 10px;
  right: 20px;

  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* CONTEÚDO INTERNO */
.modal-body-procidadania {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
}

.modal-body-procidadania img {
  width: 500px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.texto {
  flex: 1;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .container-modal-procidadania {
    width: 100%;
  }

  .modal-body-procidadania {
    flex-direction: column;
  }

  .modal-body-procidadania img {
    width: 100%;
  }

  .modal-content-procidadania {
    width: 95%;
    padding: 20px;
  }
}