
.form-container-editar {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  background: #f5f5f4;
  border-radius: 12px;
  border: 3px solid #2980b9;
}

.form-container h2 {
  text-align: center;
  color: #050202;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.btn-salvar {
  background: #27ae60;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-salvar:hover {
  background: #1e874b;
}

.btn-voltar {
  background: #c0392b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-voltar:hover {
  background: #922b21;
}
