


.privado-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-family: sans-serif;
}

.privado-card {
  text-align: center;
  padding: 40px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  border: 1px solid #eee;
}

.privado-card h2 {
  font-size: 50px;
  margin: 0;
}

.privado-card h1 {
  color: #333;
  font-size: 22px;
  margin: 15px 0;
}

.privado-card p {
  color: #666;
  margin-bottom: 20px;
}


.privado-link {
  display: inline-block;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
}

.privado-link:hover {
  background-color: #0056b3;
}